<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="usingForReportMapper">

    <select id="for:report:campaign：list:page" resultType ="com.falcon.dsp.jdbc.model.ReportTableModel">
        SELECT
        t.cid,
        t.uid,
        t1.uname,
        t.cname,
        CONCAT(DATE_FORMAT(t.`start`,'%Y/%m/%d'),' - ',DATE_FORMAT(t.`end`,'%Y/%m/%d')) as delivery_time
        FROM
        campaign t,advertiser t1
        where t.uid = t1.uid

        <if test="searchKeyword != null and searchKeyword != '' ">
            and (t.cid = #{searchKeyword,jdbcType=VARCHAR} or t.cname like '%${searchKeyword}%')
        </if>

        <if test="agencyId != null and agencyId != '' ">
            and t.uid in (select uid from advertiser where agency_id = #{agencyId,jdbcType=INTEGER})
        </if>

        <if test="uid != null and uid != '' ">
            and t.uid = #{uid,jdbcType=INTEGER}
        </if>

        and ((`start` &gt; #{startDate,jdbcType=VARCHAR} and `start` &lt;= #{endDate,jdbcType=VARCHAR})
        or (`start` &lt;= #{startDate,jdbcType=VARCHAR} and `end` &gt;= #{startDate,jdbcType=VARCHAR}))

        order by cid desc
    </select>

</mapper>